footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #2f3030;
        color: white;
        height: 70px;
        align-items: center;
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 500;
        font-style: normal;
}